# General
.DS_Store
*.log
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Environment variables
.env

# Database
*.db
dca.db
instance/

# other files
cases.json
fedex_input.csv
prompts.md
sample_cases_template.csv

# IDE settings
.vscode/
.idea/

# Pytest
.pytest_cache/
../todos.md
