@import "tailwindcss";

@layer base {
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }
  
  body {
    background-color: hsl(0 0% 100%);
    color: hsl(222.2 84% 4.9%);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0.016 285.8);
  
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0.016 285.8);
  
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0.016 285.8);
  
  --color-primary: oklch(53% 0.214 264.1);
  --color-primary-foreground: oklch(98% 0.002 264.6);
  
  --color-secondary: oklch(96% 0.006 264.5);
  --color-secondary-foreground: oklch(11.8% 0.019 285.4);
  
  --color-muted: oklch(96% 0.006 264.5);
  --color-muted-foreground: oklch(47% 0.013 253.8);
  
  --color-accent: oklch(96% 0.006 264.5);
  --color-accent-foreground: oklch(11.8% 0.019 285.4);
  
  --color-destructive: oklch(60% 0.187 25.2);
  --color-destructive-foreground: oklch(98% 0.002 264.6);
  
  --color-border: oklch(91% 0.006 264.1);
  --color-input: oklch(91% 0.006 264.1);
  --color-ring: oklch(53% 0.214 264.1);
  
  --radius: 0.5rem;
  
  --color-chart-1: oklch(50% 0.147 247.7);
  --color-chart-2: oklch(45% 0.085 194.6);
  --color-chart-3: oklch(55% 0.168 74.6);
  --color-chart-4: oklch(60% 0.135 303.7);
  --color-chart-5: oklch(55% 0.145 8.1);
}

